@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header p,
h1,
main p,
a {
  margin-left: calc((0.334rem - 1px + 4.977vw));
}
header p {
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  margin-top: 1.25rem;
  margin-bottom: 4rem;
}
main {
  display: flex;
  flex-direction: column;
}
img {
  width: clamp(286.832px, 12.373rem + 23.699vw, 539.216px);
  height: clamp(13.772rem, 9.505rem + 18.207vw, 25.891rem);
  align-self: center;
  left: 46px;
  margin-bottom: 4.8125rem;
}
h1 {
  font-family: "Space Mono", monospace;
  font-size: clamp(3rem, 2.648rem + 1.502vw, 4rem);
  font-weight: 700;
  color: #333333;
  margin-bottom: 1.875rem;
}
p {
  font-family: "Space Mono", monospace;
  font-size: clamp(1.125rem, 0.993rem + 0.563vw, 1.5rem);
  font-weight: 400;
  color: #4f4f4f;
  margin-bottom: 5.625rem;
}
a {
  font-family: "Space mono", monospace;
  font-size: 0.875rem;
  font-weight: 700;
  background: #333333;
  color: #fff;
  text-decoration: none;
  padding: 1.5rem;
}
section {
  margin-bottom: 8.5625rem;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #bdbdbd;
  text-align: center;
}
